absl-py==2.1.0
accelerate==0.33.0
aiohttp 
aiosignal
annotated-types==0.6.0
apex 
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout 
attrs==23.2.0
audioread==3.0.1
beautifulsoup4==4.12.3
bleach==6.1.0
blis==0.7.11
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.16.0
cloudpickle 
cmake==3.29.0.1
colorama==0.4.6
comm==0.2.2
confection==0.1.4
contextlib2==21.6.0
contourpy==1.2.1
cuda-python
cudf 
cudnn
cugraph 
cugraph-dgl 
cugraph-service-client
cugraph-service-server
cuml
cupy-cuda12x 
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dask 
dask-cuda 
dask-cudf 
datasets==2.19.1
debugpy==1.8.1
decorator==5.1.1
deepspeed==0.15.1
defusedxml==0.7.1
dill==0.3.8
distributed 
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.7.0
exceptiongroup==1.2.0
execnet==2.0.2
executing==2.0.1
expecttest==0.1.3
fastjsonschema==2.19.1
fastrlock 
filelock==3.13.3
flash-attn==2.4.2
fonttools==4.51.0
frozenlist
fsspec 
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==0.4.6
graphsurgeon 
grpcio==1.62.1
hjson==3.1.0
huggingface-hub==0.23.4
hypothesis==5.35.1
idna==3.6
igraph==0.11.4
importlib_metadata 
iniconfig==2.0.0
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.21.0
ipython-genutils==0.2.0
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.24
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-tensorboard
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab==2.3.2
jupyterlab-server==1.2.0
jupyterlab_pygments==0.3.0
jupytext==1.16.1
kiwisolver==1.4.5
langcodes==3.3.0
lark==1.1.9
lazy_loader==0.4
librosa==0.10.1
lightning-thunder 
lightning-utilities==0.11.2
llvmlite==0.42.0
locket 
looseversion==1.3.0
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.2
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
ml-collections==0.1.1
mock==5.1.0
mpmath==1.3.0
msgpack==1.0.8
multidict
multiprocess==0.70.16
murmurhash==1.0.10
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.6.3
ninja==1.11.1.1
notebook==6.4.10
numba 
numpy==1.24.4
nvfuser==0.1.6a0+a684e2a
nvidia-dali-cuda120==1.36.0
nvidia-ml-py==12.535.161
nvidia-nvimgcodec-cu12==0.2.0.7
nvidia-pyindex==1.0.9
nvitop==1.3.2
nvtx 
oauthlib==3.2.2
onnx
opencv
opt-einsum==3.3.0
optree==0.11.0
packaging
pandas
pandocfilters==1.5.1
parso==0.8.4
partd
peft==0.10.0
pexpect==4.9.0
pillow
platformdirs==4.2.0
pluggy==1.4.0
ply 
polygraphy==0.49.8
pooch==1.8.1
portalocker==2.8.2
preshed==3.0.9
prettytable==3.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.24.4
psutil
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.12.0
pybind11_global==2.12.0
pycocotools
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
pylibcugraph
pylibcugraphops
pylibraft
pynvjitlink
pynvml
pyparsing==3.1.2
pytest==8.1.1
pytest-flakefinder==1.1.0
pytest-rerunfailures==14.0
pytest-shard==0.1.2
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-hostlist==1.23.0
pytorch-quantization==2.1.2
pytorch-triton
pytz 
PyYAML==6.0.1
pyzmq==25.1.2
raft-dask
rapids-dask-dependency
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
rich
rmm
rpds-py==0.18.0
rsa==4.9
sacrebleu==2.4.2
safetensors==0.4.3
scikit-learn
scipy
Send2Trash==1.8.2
sentencepiece==0.2.0
sentry-sdk==2.1.1
setproctitle==1.3.3
shtab==1.7.1
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sphinx_glpi_theme==0.6
srsly==2.4.8
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tbb==2021.12.0
tblib 
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt
termcolor==2.4.0
terminado==0.18.1
texttable==1.7.0
thinc==8.2.3
threadpoolctl
thriftpy2 
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
toolz 
torch
torch-tensorrt
torchdata
torchtext
torchvision
tornado==6.4
tqdm==4.66.2
traitlets==5.9.0
transformer-engine
transformers==4.42.3
treelite
trl==0.10.1
typer==0.9.4
types-dataclasses==0.6.6
typing_extensions 
tyro==0.8.10
ucx-py 
uff 
urllib3 
wandb==0.17.5
wasabi==1.1.2
wcwidth==0.2.13
weasel==0.3.4
webencodings==0.5.1
Werkzeug==3.0.2
xdoctest==1.0.2
xgboost 
xxhash==3.4.1
yarl 
zict 
zipp 
